
<mat-toolbar color="primary">
  <span ><mat-icon fontIcon="home"></mat-icon></span>
  <span>MovieGo</span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button>Home</a>
  <a routerLink="/search" mat-button>Search</a>
  <a routerLink="/cart" mat-button>Cart</a>
  <a *ngIf="!activeUser" routerLink="/login" mat-button>Login</a>
  <a *ngIf="activeUser" routerLink="/profile" mat-button>Profile</a>
  <!-- <a *ngIf="activeUser" routerLink="/" mat-button onclick="doLogout()" >Logout</a> -->
   <button *ngIf="activeUser" mat-button (click)="doLogout()">Logout</button>
</mat-toolbar>
<router-outlet />
