/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: gray;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {
    color: white !important;
}

mat-card-title{
    color: white;
}

.moviePhoto {
    width: 100%;
    height: 200px;
    object-fit: contain;

}
.movie {
    color: white;
  }

  .containers {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}