.example-card {
    width: 45%;
    min-width: 300px;
    
  }

  .komentar {
    
    width: 45%;
  }
  .test {
    display: flex;
    flex-direction: row;         /* Postavi horizontalni pravac */
    gap: 20px;                   /* Razmak između kartica */
    align-items: flex-start;     /* Poravnaj ih gore */
    justify-content: center;     /* Centriraj ih u sredinu */
    flex-wrap: wrap;             /* Ako fali prostora, neka pređu u novi red */
    padding: 20px;
  }